<!-- 
<countdown [config]="{leftTime: 30}"></countdown>

<div class="container">
    <div class="row" >
        <div class="col-md-4">
            <div class="logo">
                
                <div class="outerborder">
                    <div class="innerborder">
                        <p>LOGO WILL GO HERE</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <countdown [config]="{leftTime: 30}"></countdown>
        </div>
        
    </div>
</div> -->