<div class="container">
    <h5 >VERSION ONE</h5>
    <div class="row">
        <div class="col-xs-7">
           
            <div class="outerwrapper">
                <p>product block</p>
                <div class="outerheader">
                    <div class="row">
                        <div class="col-xs-6"> Desc </div>
                        <div class="col-xs-2">Price</div>
                        <div class="col-xs-2">Quantity</div>
                        <div class="col-xs-2">sub total </div>
                    </div>
                </div>
            </div>
        </div>













        <div class="col-xs-5">
            <p>amount block</p>
        </div>
    </div>
</div>
